<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <!--HEAD-->
    <head th:fragment="head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <title>Sauna</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
        <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css"/>
        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    </head>

    <style th:fragment="style">

        .div {
            word-wrap: break-word;
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        .textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: #f8f8f8;
            font-size: 16px;
            resize: none;
        }

        .grid-container {
            display: grid;
            grid-template-columns: auto auto auto;
            background-color: #2196F3;
            padding: 10px;
        }
        .grid-item {
            background-color: rgba(255, 255, 255, 0.8);
            border: 1px solid rgba(0, 0, 0, 0.8);
            padding: 20px;
            font-size: 30px;
            text-align: center;
        }
    </style>

    <body>

        <!--NAVBAR-->
        <header th:fragment="navbar">
            <nav class="navbar navbar-expand-sm bg-info navbar-dark">

                <a th:href="@{/main}"><img th:src="@{/logo.png}" alt="Sauna" class="navbar-brand" style="height:45px"/></a>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        <li sec:authorize="hasAuthority('USER')" class="nav-item">
                            <a class="nav-link" th:href="@{/wall}" style="font-family: 'Harrington'; color: white; font-size: 20px">Lauteet</a>
                        </li>
                        <li sec:authorize="hasAuthority('USER')" class="nav-item">
                            <a class="nav-link" th:href="@{/saunojat}" style="font-family: 'Harrington'; color: white; font-size: 20px">Etsi saunoja</a>
                        </li>
                        <li sec:authorize="hasAuthority('USER')" class="nav-item">
                            <a class="nav-link" th:href="@{'/saunojat/' + ${#authentication.name}}" style="font-family: 'Harrington'; color: white; font-size: 20px">Oma profiili</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="nav-item">
                            <a class="nav-link" th:href="@{/notifications}" style="font-family: 'Harrington'; color: white; font-size: 20px">Yksityisilmoitukset</a>
                        </li>
                    </ul>
                </div>  
            </nav>
        </header>

        <!--SIDEBAR-->
        <div th:fragment="sidebar" style="margin-top:15px">

            <div class="container">
                <div class="row">
                    <div class="col-1">
                        <img th:src="@{'/photo/' + ${currentSaunoja.profilepictureId}}" alt="Avatar" class="w3-circle" style="width:40px; height:40px" onclick="openOrCloseSidebar()" />
                    </div>
                    <div class="col-11">
                        <h5 th:text="${currentSaunoja.username}" style="font-family: 'Harrington'; color: green; font-size: 20px">Saunojan käyttäjätunnus</h5>
                    </div>
                </div>

                <br/>
                <hr class="w3-clear"/>

            </div>

            <div class="w3-sidebar w3-bar-block w3-border-right w3-border-top" style="display:none" id="mySidebar">

                <button type="button" class="w3-bar-item w3-button w3-hover-none w3-hover-text-green" onclick="document.getElementById('logout').click()"> Kirjaudu ulos </button>
                
                <a th:href="@{/salasana}"> <button type="button" class="w3-bar-item w3-button w3-hover-none w3-hover-text-green" onclick="document.getElementById('logout').click()"> Vaihda salasana </button> </a>

                <form th:action="@{/logout}">
                    <input type="submit" id="logout" style="display:none" />
                </form>

                <hr/>

                <h6>Kuuntelet: </h6>
                <ul style="list-style-type:none; padding-left:0px">
                    <li th:each="follow : ${following}">
                        <a th:href="@{'/saunojat/' + ${follow.followed.username}}" class="w3-bar-item w3-button w3-hover-none w3-hover-text-green" th:text="${follow.followed.username}">seurattava saunoja</a>
                    </li>
                </ul>

                <h6>Sinua kuuntelee: </h6>
                <ul style="list-style-type:none; padding-left:0px">
                    <li  th:each="follow : ${followedBy}">
                        <a th:href="@{'/saunojat/' + ${follow.follower.username}}" class="w3-bar-item w3-button w3-hover-none w3-hover-text-green" th:text="${follow.follower.username}">sinua seuraava saunoja</a>
                    </li>
                </ul>


                <h6>Estät kuuntelemasta: </h6>
                <ul style="list-style-type:none; padding-left:0px">
                    <li th:each="block : ${blocked}">
                        <a th:href="@{'/saunojat/' + ${block.blocked.username}}" class="w3-bar-item w3-button w3-hover-none w3-hover-text-green" th:text="${block.blocked.username}">blokattu saunoja</a>
                    </li>
                </ul>

            </div>

            <script th:src="@{/javascript/sidebar.js}"></script>
        </div>

    </body>
</html>
