<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/layout :: head"></head>

    <body>  

        <header th:replace="fragments/layout :: navbar"/>

        <div th:replace="fragments/layout :: sidebar"></div>

        <div class="container" style="margin-top:30px">
            
            <!-- UPDATE PASSWORD -->

            <div>
                <form th:action="@{/salasana}" method="POST" th:object="${newPassword}">               

                    <fieldset>
                        <legend>Päivitä salasana</legend>

                        <hr/>

                        <div th:if="${#fields.hasErrors('oldPassword')}" class="alert alert-error" style="color: red"> 
                            Väärä salasana
                        </div>
                        <input autocomplete="new-password" placeholder="Nykyinen salasana" class="form-control" type="password" id="password" name="oldPassword"/>
                        <br/>

                        <div th:if="${#fields.hasErrors('newPassword')}" class="alert alert-error" style="color: red"> 
                            Virheellinen salasana.
                        </div>
                        <input autocomplete="new-password" placeholder="Uusi salasana (vähintään 6 merkkiä pitkä, 1 iso kirjain, 1 erikoismerkki)" class="form-control" type="password" id="password" name="newPassword"/>
                        <br/>

                        <div th:if="${#fields.hasErrors('confirmNewPassword')}" class="alert alert-error" style="color: red"> 
                            Salasanat eivät täsmää.
                        </div>
                        <input placeholder="Salasana uudestaan" class="form-control" type="password" id="confirmPassword" name="confirmNewPassword"/>
                        <br/>

                        <hr/>

                        <div id="file-filename" style="color: greenyellow"></div>
                        <br/>

                        <div>
                            <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom w3-right"><i class="fa fa-check"></i> Päivitä </button>
                        </div>

                    </fieldset>
                </form>
            </div>
            
            <!-- DELETE ACCOUNT -->
            
            <br/>
            
            <div th:unless="${currentSaunoja.roles.contains('GOD')}">
                <form th:action="@{'/saunojat/' + ${currentSaunoja.username} + '/delete'}" method="POST" th:object="${newDeleteAccount}">               

                    <fieldset>
                        <legend>Poista tili</legend>

                        <hr/>
                        
                        <div class="alert alert-error" style="color: red"> 
                            TILIN POISTAMINEN ON PERUUTTAMATONTA. KAIKKI VIESTISI, KOMMENTTISI JA KUVASI POISTUVAT SAMALLA. LÖYLYTUNNUSTA EI VOI REKISTERÖIDÄ UUDESTAAN.
                        </div>
                        
                        <div th:if="${#fields.hasErrors('password')}" class="alert alert-error" style="color: red">
                            <br/>
                            Väärä salasana.
                        </div>
                        
                        <input autocomplete="new-password" placeholder="salasana" class="form-control" type="password" id="password" name="password"/>
                        <br/>

                        <hr/>

                        <div id="file-filename" style="color: greenyellow"></div>
                        <br/>

                        <div>
                            <button type="submit" class="w3-button w3-theme-d1 w3-margin-bottom w3-right"><i class="fa fa-user-times"></i> Poista tili </button>
                        </div>

                    </fieldset>
                </form>
            </div>
            
            <br/>

        </div>

    </body>
</html>
