<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/layout :: head"></head>

    <body>

        <header th:replace="fragments/layout :: navbar"/>

        <div sec:authorize="hasAuthority('USER')" th:replace="fragments/layout :: sidebar"></div>

        <div class="container" style="margin-top:30px">

            <div sec:authorize="!isAuthenticated()">
                <form th:action="@{/main}" method="post">               
                    <fieldset>
                        <legend>Tervetuloa saunaan!</legend>
                        <div th:if="${param.error}" class="alert alert-error">    
                            Väärä löylytunnus tai salasana.
                        </div>
                        <div th:if="${param.logout}" class="alert alert-success"> 
                            Kirjauduit ulos onnistuneesti.
                        </div>
                        <label for="username">Löylytunnus</label>
                        <input type="text" id="username" name="username"/>        
                        <label for="password">Salasana</label>
                        <input type="password" id="password" name="password"/>    
                        <div class="form-actions">
                            <button type="submit" class="btn w3-left">Kirjaudu sisään!</button>
                        </div>
                        <div class="form-actions">
                            <a th:href="@{/register}"> <button type="button" class="btn w3-right">Uusi saunoja?</button></a>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div  sec:authorize="isAuthenticated()">
                <form th:action="@{/logout}" method="post">               
                    <fieldset>
                        <legend th:text="${'Olet kirjautuneena sisään löylytunnuksella ' + currentSaunoja.username}"></legend> 
                        <div class="form-actions">
                            <button type="submit" class="btn">Kirjaudu ulos</button>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>

    </body>
</html>
