<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head"/>

    <style th:replace="fragments/layout :: style"/>

    <body>

        <header th:replace="fragments/layout :: navbar"/>

        <div th:replace="fragments/layout :: sidebar"></div>

        <div class="container" style="margin-top:30px" th:unless="${authorBlockedUsernames.contains(currentSaunoja.username)}">

            <a th:href="@{'/wall/'}">Takaisin</a>

            <br/>

            <br/>

            <div class="w3-container w3-card w3-white w3-round w3-section">
                <br/>
                <a th:href="@{'/saunojat/' + ${message.author.username}}"><img th:src="@{'/photo/' + ${message.author.profilepictureId}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height:60px"/></a>
                <span class="w3-right w3-opacity" th:unless="${message.created.toLocalDate().equals(#temporals.createToday())}" th:text="${#temporals.format(message.created, 'HH:mm d.M.yy')}">Viestin ajankohta</span>
                <span class="w3-right w3-opacity" th:if="${message.created.toLocalDate().equals(#temporals.createToday())}" th:text="${' tänään ' + #temporals.format(message.created, 'HH:mm')}">Viestin ajankohta</span>
                <h4 th:text="${message.author.username}">Löylytunnus</h4>

                <br/>
                <hr class="w3-clear"/>

                <p th:text="${message.content}">Viestin sisältö</p>

                <br/>
                <hr class="w3-clear"/>

                <button th:unless="${message.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:attr="onclick=|document.getElementById('like' + ${message.id}).click()|"><i class="fa fa-thumbs-up"></i> <span th:text="${'Vihdo(' + #lists.size(message.likes) + ')'}" th:remove="tag">Vihtominen</span></button>
                <button th:if="${message.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:attr="onclick=|document.getElementById('unlike' + ${message.id}).click()|"><i class="fa fa-thumbs-down"></i> <span th:text="${'Peru vihtominen(' + #lists.size(message.likes) + ')'}" th:remove="tag">Vihtomisen peruminen</span></button>
                <button th:if="${message.author == currentSaunoja or currentSaunoja.roles.contains('ADMIN')}" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" th:attr="onclick=|document.getElementById('delete' + ${message.id}).click()|"><i class="fa fa-close"></i> Poista viesti</button>  
                <form method="POST" th:action="@{'/wall/' + ${message.Id} + '/delete'}">
                    <input type="hidden" name="usernameAuthor" th:value="${message.author.username}"/>
                    <input type="hidden" name="redirectTo" value="/wall/"/>
                    <input type="submit" style="display:none;" th:id="${'delete' + message.id}" />
                </form>
                <form th:unless="${message.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/wall/' + ${message.Id} + '/like'}">
                    <input type="hidden" name="action" th:value="like"/>
                    <input type="hidden" name="redirectTo" th:value="${'/wall/' + message.id}"/>
                    <input type="submit" style="display:none;" th:id="${'like' + message.id}"/>
                </form>
                <form th:if="${message.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/wall/' + ${message.Id} + '/like'}">
                    <input type="hidden" name="action" th:value="unlike"/>
                    <input type="hidden" name="redirectTo" th:value="${'/wall/' + message.id}"/>
                    <input type="submit" style="display:none;" th:id="${'unlike' + message.id}"/>
                </form>
            </div>

            <div class="w3-container w3-card w3-white w3-round w3-margin">

                <br/>

                <form method="POST" th:action="@{'/wall/' + ${message.Id} + '/comment'}" id="newCommentForm" th:object="${newComment}">

                    <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-error">    
                        Kommentin virheviesti.
                        <hr/>
                    </div>

                    <textarea placeholder="Uusi kommentti (enintään 2000 merkkiä pitkä)" class="textarea" onkeyup="countChar(this)" name="content" form="newCommentForm"></textarea>
                    <div id="charNum"></div>

                    <br/>
                    <hr class="w3-clear"/>

                    <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('sendNewComment').click()">Lähetä <i class="fa fa-arrow-circle-right"></i></button>


                    <input type="submit" style="display: none" th:id="sendNewComment"/>
                </form>

            </div>


            <h3>Vihtoneet: </h3>
            <ol>
                <li th:each="likerUsername : ${message.likes}">
                    <a th:href="@{'/saunojat/' + ${likerUsername}}" th:text="${likerUsername}">Tykkäävä saunoja</a>
                </li>
            </ol>


            <div th:each="comment : ${comments}">
                <div class="w3-container w3-card w3-white w3-round w3-margin">
                    <br/>
                    <a th:href="@{'/saunojat/' + ${comment.author.username}}"><img th:src="@{'/photo/' + ${comment.author.profilepictureId}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height:60px"/></a>
                    <span class="w3-right w3-opacity" th:unless="${comment.created.toLocalDate().equals(#temporals.createToday())}" th:text="${#temporals.format(comment.created, 'd.M.yy HH:mm')}">Kommentin ajankohta</span>
                    <span class="w3-right w3-opacity" th:if="${comment.created.toLocalDate().equals(#temporals.createToday())}" th:text="${' tänään ' + #temporals.format(comment.created, 'HH:mm')}">Kommentin ajankohta</span>
                    <h4 th:text="${comment.author.username}">Löylytunnus</h4>

                    <br/>
                    <hr class="w3-clear"/>

                    <p th:text="${comment.content}">Kommentin sisältö</p>

                    <br/>
                    <hr class="w3-clear"/>

                    <button th:unless="${comment.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:attr="onclick=|document.getElementById('like' + ${comment.id}).click()|"><i class="fa fa-thumbs-up"></i> <span th:text="${'Vihdo(' + #lists.size(comment.likes) + ')'}" th:remove="tag">Vihtominen</span></button>
                    <button th:if="${comment.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:attr="onclick=|document.getElementById('unlike' + ${comment.id}).click()|"><i class="fa fa-thumbs-down"></i> <span th:text="${'Peru vihtominen(' + #lists.size(comment.likes) + ')'}" th:remove="tag">Vihtomisen peruminen</span></button>
                    <button th:if="${comment.author == currentSaunoja or currentSaunoja.roles.contains('ADMIN')}" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" th:attr="onclick=|document.getElementById('delete' + ${comment.id}).click()|"><i class="fa fa-close"></i> Poista Kommentti</button>  

                    <form method="POST" th:action="@{'/comment/' + ${comment.Id} + '/delete'}">
                        <input type="hidden" name="usernameAuthor" th:value="${comment.author.username}"/>
                        <input type="hidden" name="redirectTo" th:value="${'/wall/' + message.id}"/>
                        <input type="submit" style="display:none;" th:id="${'delete' + comment.id}" />
                    </form>

                    <form th:unless="${comment.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/comment/' + ${comment.Id} + '/like'}">
                        <input type="hidden" name="action" th:value="like"/>
                        <input type="hidden" name="redirectTo" th:value="${'/wall/' + message.id}"/>
                        <input type="submit" style="display: none" th:id="${'like' + comment.id}"/>
                    </form>

                    <form th:if="${comment.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/comment/' + ${comment.Id} + '/like'}">
                        <input type="hidden" name="action" th:value="unlike"/>
                        <input type="hidden" name="redirectTo" th:value="${'/wall/' + message.id}"/>
                        <input type="submit" style="display: none" th:id="${'unlike' + comment.id}"/>
                    </form>

                </div>
            </div>
        </div>

        <div class="container" th:if="${authorBlockedUsernames.contains(currentSaunoja.username)}">
            <h3 th:text="${message.author.username + ' on estänyt sinua näkemästä tätä sisältöä.'}"></h3>
        </div>


        <script src="http://code.jquery.com/jquery-1.5.js"></script>
        <script th:src="@{/javascript/charCount.js}"></script>
    </body>
</html>
