<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layout :: head"/>

    <style th:replace="fragments/layout :: style"/>

    <body>

        <header th:replace="fragments/layout :: navbar"/>
        <div th:replace="fragments/layout :: sidebar"/>

        <div  class="container" style="margin-top:30px" th:unless="${authorBlockedUsernames.contains(currentSaunoja.username)}">

            <div th:if="${currentSaunoja.roles.contains('FROZEN')}">
                <h3 th:unless="${accountFreeze.expires == null}" style="color: #FF0000" th:text="${accountFreeze.author.username + ' on laittanut sinut avantoon huonon käytöksen vuoksi. Olet avannossa ' + #temporals.format(message.created, 'd.M.yy HH:mm') + ' saakka.'}"  ></h3>
                <h3 th:if="${accountFreeze.expires == null}" style="color: #FF0000" th:text="${accountFreeze.author.username + ' on laittanut sinut avantoon huonon käytöksen vuoksi. Olet vaipunut horrokseen ikusiksi ajoiksi tai kunnes saunan henget päättävät ottaa sinut takaisin saunaan virkoamaan.'}"  ></h3>
            </div>



            <div class="w3-container w3-card w3-white w3-round w3-section">
                <br/>

                <a th:href="@{'/saunojat/' + ${photo.author.username}}"><img th:src="@{'/photo/' + ${photo.author.profilepictureId}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height:60px"/></a>            
                <p th:text="${photo.author.username}"></p>

                <br/>
                <hr class="w3-clear"/>

                <div th:unless="${isLast and isFirst}">

                    <a th:unless="${isFirst}"  th:href="@{'/photo/' + ${previousId} + '/view'}"><button type="button" class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-angle-double-left"></i> Edellinen kuva </button></a>
                    <div th:unless="${isLast}">
                        <a th:href="@{'/photo/' + ${nextId} + '/view'}"><button  type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-right" >Seuraava kuva <i class="fa fa-angle-double-right"></i></button></a>
                        <br/>
                    </div>
                    <br/>
                    <hr class="w3-clear"/>

                </div>

                <button th:if="${photo.author.username == currentSaunoja.username and !photo.isProfilePicture}" type="button" class="w3-button center" onclick="document.getElementById('setAsProfilePicture').click()"><i class="material-icons" style="font-size: 20px">perm_identity</i> Aseta profiilikuvaksi </button>
                <a th:href="@{'/saunojat/' + ${photo.author.username}}"><img class="center" th:src="@{'/photo/' + ${photo.Id} }" height="500"/></a>

                <br/>
                <hr class="w3-clear"/>

                <button th:unless="${photo.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('likePhoto').click()"><i class="fa fa-thumbs-up"></i> <span th:text="${'Vihdo(' + #lists.size(photo.likes) + ')'}" th:remove="tag">Vihtominen</span></button>
                <button th:if="${photo.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('unlikePhoto').click()"><i class="fa fa-thumbs-down"></i> <span th:text="${'Peru vihtominen(' + #lists.size(photo.likes) + ')'}" th:remove="tag">Vihtomisen peruminen</span></button>
                <button th:if="${photo.author.username == currentSaunoja.username or currentSaunoja.roles.contains('ADMIN')}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-right" onclick="document.getElementById('deletePhoto').click()"><i class="fa fa-close"></i> Poista kuva </button>

                <br/>
                <hr class="w3-clear"/>

                <p class="center" th:text="${photo.description}">Kuvan kuvaus</p>

                <form th:unless="${photo.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/photo/' + ${photo.Id} + '/like'}">
                    <input type="hidden" name="action" th:value="like"/>
                    <input type="submit" style="display:none" id="likePhoto"/>
                </form>

                <form th:if="${photo.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/photo/' + ${photo.Id} + '/like'}">
                    <input type="hidden" name="action" th:value="unlike"/>
                    <input type="submit" style="display:none" id="unlikePhoto"/>
                </form>

                <form method="POST" th:action="@{'/photo/' + ${photo.Id} + '/delete'}">
                    <input type="hidden" name="usernameAuthor" th:value="${photo.author.username}"/>
                    <input type="hidden" name="redirectTo" th:value="${'/saunojat/' + photo.author.username}"/>
                    <input type="submit" style="display:none" id="deletePhoto"/>
                </form>

                <form method="POST" th:action="@{'/photo/' + ${photo.Id} + '/profilepicture'}">
                    <input type="hidden" name="action" th:value="setAsProfilePicture"/>
                    <input type="submit" style="display:none" id="setAsProfilePicture"/>
                </form>

            </div>

            <br/>

            <div>

                <div th:unless="${currentSaunoja.roles.contains('FROZEN')}" class="w3-container w3-card w3-white w3-round w3-margin">
                    <br/>

                    <form method="POST" th:action="@{'/photo/' + ${photo.Id} + '/comment'}" id="newCommentForm" th:object="${newComment}">

                        <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="alert alert-error">    
                            Kommentin virheviesti.
                            <hr/>
                        </div>

                        <textarea placeholder="Uusi kommentti (enintään 2000 merkkiä pitkä)" class="textarea" onkeyup="countChar(this)" name="content" form="newCommentForm"></textarea>
                        <div id="charNum"></div>

                        <br/>
                        <hr class="w3-clear"/>

                        <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" onclick="document.getElementById('sendNewComment').click()">Lähetä <i class="fa fa-arrow-circle-right"></i></button>


                        <input type="submit" style="display: none" th:id="sendNewComment"/>
                    </form>
                </div>

                <h3>Vihtoneet: </h3>
                <ol>
                    <li th:each="likerUsername : ${photo.likes}">
                        <a th:href="@{'/saunojat/' + ${likerUsername}}" th:text="${likerUsername}">Tykkäävä saunoja</a>
                    </li>
                </ol>

            </div>

            <div th:each="comment : ${comments}">
                <div class="w3-container w3-card w3-white w3-round w3-margin">
                    <br/>
                    <a th:href="@{'/saunojat/' + ${comment.author.username}}"><img th:src="@{'/photo/' + ${comment.author.profilepictureId}}" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px; height:60px"/></a>
                    <span class="w3-right w3-opacity" th:unless="${comment.created.toLocalDate().equals(#temporals.createToday())}" th:text="${#temporals.format(comment.created, 'd.M.yy HH:mm')}">Kommentin ajankohta</span>
                    <span class="w3-right w3-opacity" th:if="${comment.created.toLocalDate().equals(#temporals.createToday())}" th:text="${' tänään ' + #temporals.format(comment.created, 'HH:mm')}">Kommentin ajankohta</span>
                    <h4 th:text="${comment.author.username}">Löylytunnus</h4>

                    <br/>
                    <hr class="w3-clear"/>

                    <p th:text="${comment.content}">Kommentin sisältö</p>

                    <br/>
                    <hr class="w3-clear"/>

                    <button th:unless="${comment.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:attr="onclick=|document.getElementById('like' + ${comment.id}).click()|"><i class="fa fa-thumbs-up"></i> <span th:text="${'Vihdo(' + #lists.size(comment.likes) + ')'}" th:remove="tag">Vihtominen</span></button>
                    <button th:if="${comment.likes.contains(currentSaunoja.username)}" type="button" class="w3-button w3-theme-d1 w3-margin-bottom" th:attr="onclick=|document.getElementById('unlike' + ${comment.id}).click()|"><i class="fa fa-thumbs-down"></i> <span th:text="${'Peru vihtominen(' + #lists.size(comment.likes) + ')'}" th:remove="tag">Vihtomisen peruminen</span></button>
                    <button th:if="${comment.author == currentSaunoja or currentSaunoja.roles.contains('ADMIN')}" type="button" class="w3-button w3-theme-d2 w3-margin-bottom" th:attr="onclick=|document.getElementById('delete' + ${comment.id}).click()|"><i class="fa fa-close"></i> Poista Kommentti</button>  

                    <form method="POST" th:action="@{'/comment/' + ${comment.Id} + '/delete'}">
                        <input type="hidden" name="usernameAuthor" th:value="${comment.author.username}"/>
                        <input type="hidden" name="redirectTo" th:value="${'/photo/' + photo.id + '/view'}"/>
                        <input type="submit" style="display:none;" th:id="${'delete' + comment.id}" />
                    </form>

                    <form th:unless="${comment.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/comment/' + ${comment.Id} + '/like'}">
                        <input type="hidden" name="action" th:value="like"/>
                        <input type="hidden" name="redirectTo" th:value="${'/photo/' + photo.id + '/view'}"/>
                        <input type="submit" style="display: none" th:id="${'like' + comment.id}"/>
                    </form>

                    <form th:if="${comment.likes.contains(currentSaunoja.username)}" method="POST" th:action="@{'/comment/' + ${comment.Id} + '/like'}">
                        <input type="hidden" name="action" th:value="unlike"/>
                        <input type="hidden" name="redirectTo" th:value="${'/photo/' + photo.id + '/view'}"/>
                        <input type="submit" style="display: none" th:id="${'unlike' + comment.id}"/>
                    </form>

                </div>
            </div>

        </div>

        <div class="container" th:if="${authorBlockedUsernames.contains(currentSaunoja.username)}">
            <h3 th:text="${photo.author.username + ' on estänyt sinua näkemästä tätä sisältöä.'}"></h3>
        </div>

        <script src="http://code.jquery.com/jquery-1.5.js"></script>
        <script th:src="@{/javascript/charCount.js}"></script>
    </body>
</html>
