<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragments/layout :: head"></head>

    <body>  

        <header th:replace="fragments/layout :: navbar"/>

        <div sec:authorize="hasAuthority('USER')" th:replace="fragments/layout :: sidebar"></div>

        <br/>

        <div class="container" style="margin-top:30px">

            <div>
                <form name="f" th:action="@{/register}" method="POST" enctype="multipart/form-data" th:object="${newSaunoja}">               

                    <fieldset>
                        <legend>Uuden saunojan tiedot</legend>

                        <hr/>
                        <div th:if="${#fields.hasErrors('firstName')}" class="alert alert-error" style="color: red">    
                            Virheellinen etunimi.
                        </div>
                        <input th:unless="${#fields.hasErrors('firstName')}" placeholder="Etunimi" class="form-control" type="text" id="firstName" name="firstName" th:value="${firstNameFromBefore}"/>
                        <input th:if="${#fields.hasErrors('firstName')}" placeholder="Etunimi" class="form-control" type="text" id="firstName" name="firstName"/>
                        <br/>

                        <div th:if="${#fields.hasErrors('lastName')}" class="alert alert-error" style="color: red">    
                            Virheellinen sukunimi.
                        </div>
                        <input th:unless="${#fields.hasErrors('lastName')}" placeholder="Sukunimi" class="form-control" type="text" id="lastName" name="lastName" th:value="${lastNameFromBefore}"/>
                        <input th:if="${#fields.hasErrors('lastName')}" placeholder="Sukunimi" class="form-control" type="text" id="lastName" name="lastName"/>
                        <br/>

                        <div th:if="${#fields.hasErrors('username')}" class="alert alert-error" style="color: red" th:errors="*{username}"> 
                            Löylytunnusvirheviesti
                        </div>
                        <input th:unless="${#fields.hasErrors('username')}" placeholder="Löylytunnus" class="form-control" type="text" id="username" name="username" th:value="${usernameFromBefore}"/>
                        <input th:if="${#fields.hasErrors('username')}" placeholder="Löylytunnus" class="form-control" type="text" id="username" name="username"/>
                        <br/>

                        <div th:if="${#fields.hasErrors('password')}" class="alert alert-error" style="color: red"> 
                            Virheellinen salasana.
                        </div>
                        <input autocomplete="new-password" placeholder="Salasana (vähintään 6 merkkiä pitkä, 1 iso kirjain, 1 erikoismerkki)" class="form-control" type="password" id="password" name="password"/>
                        <br/>

                        <div th:if="${#fields.hasErrors('confirmPassword')}" class="alert alert-error" style="color: red"> 
                            Salasanat eivät täsmää.
                        </div>
                        <input placeholder="Salasana uudestaan" class="form-control" type="password" id="confirmPassword" name="confirmPassword"/>
                        <br/>

                        <hr/>


                        <div id="file-filename" style="color: greenyellow"></div>
                        <br/>

                        <div>

                            <div th:if="${#fields.hasErrors('photo')}" class="alert alert-error" style="color: red"> 
                                Kuva on liian suuri ladattavaksi (Enintään 5MB).
                            </div>

                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-left" onclick="document.getElementById('file').click()" style="white-space: nowrap"><i class="fa fa-file-image-o w3-left"></i>&nbsp; Valitse profiilikuva </button>

                            <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom w3-right" onclick="document.getElementById('submit').click(); this.disabled=true;" ><i class="fa fa-plus"></i> Luo saunoja!</button>

                            <input type="submit" style="display: none" id="submit"/>                     

                        </div>

                        <input type="file" name="photo" style="display:none;" id="file"/>

                    </fieldset>
                </form>
            </div>

        </div>

        <script th:src="@{/javascript/showChoosenFile.js}"></script>
    </body>
</html>
